<html>
	<body background="https://images.daznservices.com/di/library/DAZN_News/f2/6e/wm-2022-katar-fifa-world-cup_ot76uv35142p1bq7103kzr66e.jpg?t=253385589">
	
		<h1 style="text-align: center; color: white ;">
			INFORMACION 
		</h1>
		<p style="color: white ;font-size:20; ">
			{{user}}, este QUIZ fue elaborado entretener y poner aprueba a todos los participantes con las desafiantes preguntas del QUIZ.
		</p>

        <p style="color: white ;font-size:20; ">
            Este QUIZ cuenta con un total de 10 preguntas las cuales tendras que intentas que reponder de forma acertada
        </p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p style=" font-size:20;">
		<A HREF="/inicio">VE AL INICIO </A>
		</p>
	
	</body>
</html>