<html>
	<body background="https://images.daznservices.com/di/library/DAZN_News/f2/6e/wm-2022-katar-fifa-world-cup_ot76uv35142p1bq7103kzr66e.jpg?t=253385589">
	
		<h1 style="text-align: center; color: white ;">
			Bienvenido 
		</h1>
		<p style="color: white ;font-size:20; ">
			{{user}}, queremos ponerte a prueba con este Quiz y saber tu conocimiento acerca sobre la copa del Mundial de Qatar 2022.
		</p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p style=" font-size:20;">
		<A HREF="/inicio">Este archivo esta en el subdirectorio textos </A>
		</p>
	
	</body>
</html>